<p>Book History</p>
<%members = @book.list_of_owners %>
<%if members.empty? %>
  <p>There are no history of this book.</p>
<%end%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Member Name</th>
    </tr>
  </thead>

  <tbody>
    <% members.each_with_index do |member,i| %>
      <%unless member.nil? %>
        <tr>   
          <td><%= member.name%></td>
          <% if i.even? %>
          	<td>Checked Out</td>
          <%else%>
          	<td>Returned</td>
         	<%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
