<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      You requested <%= @book.name %>  is now available. Grab it before its checked out.
    </p>
  </body>
</html>