<div>
<%x = logged_in? %>
<% unless x.nil? %>
	<p>Hi, <%= x.name %></p>
<%end%>
</div>
<%#if logged_in? %>
	<%=# link_to "My Account" , current_user %>
	<%#if#Ω current_user.class.to_s == "Member" %>
		
	<%#else%>
		<%= #link_to "My Account" , current_user %>
	<%#end%>
<%#end%>