<p>Member History</p>
<%if @member.get_history.empty? %>
  <p>No history found.</p>
<%end%>
<%books = @member.get_history %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Book isbn</th>
      <th>Book name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <%unless book.first[0].nil? %>
        <tr>   
          <td><%= book.first[0].isbn %></td>
          <td><%= book.first[0].name %></td>
          <td><%= book.first[1] %></td>
      <%end%>
        </tr>
    <%end%>
  </tbody>
</table>
